<launch>
  <arg name="drive" default="true"/>
  <arg name="jsX" default="0"/>
  <arg name="mapping" default="false"/>
  <param name="joystick_controller/dev" value="/dev/input/js$(arg jsX)"/>
  <!-- Drive Control Nodes -->
  <group if="$(arg drive)">
    <node name="joystick_controller" pkg="joy" type="joy_node"/>
  </group>
  <!-- Mapping -->
  <group if="$(arg mapping)">
    <include file="$(find rover_core_os)/launch/mapping.launch"/>
  </group>
  <node unless="$(arg mapping)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
     <param name="subscribe_depth" type="bool" value="true"/>
     <param name="subscribe_odom_info" type="bool" value="true"/>
     <param name="queue_size" type="int" value="50"/>
     <param name="frame_id" type="string" value="camera_link"/>
     <remap from="depth/image" to="/camera/data_throttled_image_depth"/>
     <remap from="rgb/camera_info" to="/camera/data_throttled_camera_info"/>
     <remap from="rgb/image" to="/camera/data_throttled_image"/>
     <remap from="odom_info" to="/rtabmap/odom_info"/>
     <remap from="odom" to="/rtabmap/odom"/>
  </node>
</launch>