<launch>

  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find rover_core_os)/rviz/urdf.rviz" />
  <arg name="rover_5" default="false" />

  <group if="$(arg rover_5)">
    <param name="robot_description" command="$(find xacro)/xacro $(find rover_core_os)/urdf/rover_5.urdf meshDirectory:=$(find rover_core_os)/urdf/meshes/rover_5" />
  </group>
  <group unless="$(arg rover_5)">
    <param name="robot_description" command="$(find xacro)/xacro $(find rover_core_os)/urdf/ad_astra.urdf meshDirectory:=$(find rover_core_os)/urdf/meshes/ad_astra" />
  </group>
  <param name="use_gui" value="$(arg gui)"/>

  <node name="world_to_map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /base_link /map 100"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>

</launch>
